# Copyright (c) 2024 Antmicro <www.antmicro.com>
# Modified to support CHERI 2025, University of Birmingham
# SPDX-License-Identifier: Apache-2.0

if BOARD_QEMU_RISCV64CHERI || BOARD_QEMU_RISCV64CHERI_PURECAP || BOARD_QEMU_RISCV64CHERI_SMP || BOARD_QEMU_RISCV64CHERI_SMP_PURECAP

config BUILD_OUTPUT_BIN
	default n

config HAS_COVERAGE_SUPPORT
	default y

config QEMU_ICOUNT_SHIFT
	default 6 if QEMU_ICOUNT

endif # BOARD_QEMU_RISCV64CHERI
