build/
*/build/
zephyr-crash-analyzer-static
analysis_output.json
analysis_compdb.json
interaction_graph.dot
interaction_graph.png
interaction_graph.svg
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
*.o
*.a
*.so
*.dylib
