# Copyright (c) 2024 Antmicro <www.antmicro.com>
# Modified to support CHERI 2025, University of Birmingham
# SPDX-License-Identifier: Apache-2.0

config BOARD_QEMU_RISCV32CHERI
	bool "QEMU RISCV32CHERI target"
	select QEMU_TARGET

config BOARD_QEMU_RISCV32CHERI_PURECAP
	bool "QEMU RISCV32CHERI PURECAP target"
	select QEMU_TARGET

config BOARD_QEMU_RISCV32CHERI_SMP
	bool "QEMU RISCV32CHERI SMP target"
	select QEMU_TARGET

config BOARD_QEMU_RISCV32CHERI_SMP_PURECAP
	bool "QEMU RISCV32CHERI SMP PURECAP target"
	select QEMU_TARGET

config BOARD_QEMU_RISCV32CHERI_ZCHERIPURECAP
	bool "QEMU RISCV32CHERI ZCHERIPURECAP target"
	select QEMU_TARGET

config BOARD_QEMU_RISCV32CHERI_SMP_ZCHERIPURECAP
	bool "QEMU RISCV32CHERI SMP ZCHERIPURECAP target"
	select QEMU_TARGET
