# SPDX-License-Identifier: Apache-2.0
# Modified for CHERI 2024 by University of Birmingham

config BUILD_OUTPUT_BIN
	default n

config BOARD
	default "qemu_riscv64cheri" if BOARD_QEMU_RISCV64CHERI
	default "qemu_riscv64cheri_purecap" if BOARD_QEMU_RISCV64CHERI_PURECAP
	default "qemu_riscv64cheri_smp" if BOARD_QEMU_RISCV64CHERI_SMP
	default "qemu_riscv64cheri_smp_purecap" if BOARD_QEMU_RISCV64CHERI_SMP_PURECAP
