# SPDX-License-Identifier: Apache-2.0
# Modified for CHERI 2025 by University of Birmingham

config BOARD_QEMU_RISCV64CHERI
	bool "QEMU RISCV64CHERI target"
	depends on SOC_RISCV_VIRT
	select QEMU_TARGET
	select 64BIT
	select HAS_COVERAGE_SUPPORT
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

config BOARD_QEMU_RISCV64CHERI_PURECAP
	bool "QEMU RISCV64CHERI PURECAP target"
	depends on SOC_RISCV_VIRT
	select QEMU_TARGET
	select 64BIT
	select HAS_COVERAGE_SUPPORT
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

config BOARD_QEMU_RISCV64CHERI_SMP
	bool "QEMU RISCV64CHERI SMP target"
	depends on SOC_RISCV_VIRT
	select QEMU_TARGET
	select 64BIT
	select HAS_COVERAGE_SUPPORT
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

config BOARD_QEMU_RISCV64CHERI_SMP_PURECAP
	bool "QEMU RISCV64CHERI SMP PURECAP target"
	depends on SOC_RISCV_VIRT
	select QEMU_TARGET
	select 64BIT
	select HAS_COVERAGE_SUPPORT
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

config BOARD_QEMU_RISCV64CHERI_ZCHERIPURECAP
	bool "QEMU RISCV64CHERI ZCHERIPURECAP target"
	depends on SOC_RISCV_VIRT
	select QEMU_TARGET
	select 64BIT
	select HAS_COVERAGE_SUPPORT
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

config BOARD_QEMU_RISCV64CHERI_SMP_ZCHERIPURECAP
	bool "QEMU RISCV64CHERI SMP ZCHERIPURECAP target"
	depends on SOC_RISCV_VIRT
	select QEMU_TARGET
	select 64BIT
	select HAS_COVERAGE_SUPPORT
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_ISA_RV64I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
