# SPDX-License-Identifier: Apache-2.0
# Modified for CHERI 2025 by University of Birmingham

CONFIG_SOC_SERIES_RISCV_VIRT=y
CONFIG_SOC_RISCV_VIRT=y
CONFIG_BOARD_QEMU_RISCV64CHERI_ZCHERIPURECAP=y
CONFIG_PRIVILEGED_STACK_SIZE=4096
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_STACK_SENTINEL=y
CONFIG_QEMU_ICOUNT_SHIFT=6
CONFIG_XIP=n
CONFIG_RISCV_PMP=n

#compile for cheri purecap for codasip core codasip-a730 with 0.9.5 spec
CONFIG_CHERI=y
CONFIG_ISR_TABLE_USE_SYMBOLS=y
CONFIG_RISCV_ISA_ZCHERIPURECAP_ABI=y
