# Copyright (c) 2026 University of Birmingham
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_HOBGOBLIN

#configs for all socs in family

#add individual socs
rsource "*/Kconfig.defconfig"

endif
