# Copyright (c) 2026 University of Birmingham
# SPDX-License-Identifier: Apache-2.0

#selections for all socs in family
config SOC_FAMILY_HOBGOBLIN
	select ATOMIC_OPERATIONS_BUILTIN
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
	select RISCV_ISA_EXT_C
	select RISCV
	select RISCV_PRIVILEGED
	select RISCV_HAS_PLIC
	select RISCV_SOC_HAS_GP_RELATIVE_ADDRESSING
	imply XIP

if SOC_FAMILY_HOBGOBLIN

# specific selections for each soc in family
rsource "*/Kconfig"

endif
