# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Added to support CHERI 2026, University of Birmingham

if BOARD_HOBGOBLIN_RISCV64CHERI || BOARD_HOBGOBLIN_RISCV64CHERI_SMP || BOARD_HOBGOBLIN_RISCV64CHERI_ZCHERIPURECAP || BOARD_HOBGOBLIN_RISCV64CHERI_SMP_ZCHERIPURECAP

config BUILD_OUTPUT_BIN
	default n

config HAS_COVERAGE_SUPPORT
	default y

endif
