# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Added to support CHERI 2026, University of Birmingham

CONFIG_BOARD_HOBGOBLIN_RISCV32CHERI_ZCHERIPURECAP=y
CONFIG_PRIVILEGED_STACK_SIZE=4096
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_STACK_SENTINEL=y
CONFIG_XIP=n
CONFIG_RISCV_PMP=n #not enabled in the hardware

CONFIG_MINIMAL_LIBC=y
CONFIG_ARCH_STACKWALK=n

#compile for cheri purecap for codasip core codasip-v739 with 0.9.5 spec
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_IDLE_STACK_SIZE=2048
CONFIG_CHERI=y
CONFIG_ISR_TABLE_USE_SYMBOLS=y
CONFIG_RISCV_ISA_ZCHERIPURECAP_ABI=y
#hardware cores boot in hybrid mode so
#we need to build with hybrid, and the
#boot code switches it to purecap
CONFIG_RISCV_ISA_ZCHERIHYBRID=y
