# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Added to support CHERI 2026, University of Birmingham

config BOARD_HOBGOBLIN_RISCV32CHERI
	bool "HOBGOBLIN RISCV32CHERI target"

config BOARD_HOBGOBLIN_RISCV32CHERI_ZCHERIPURECAP
	bool "HOBGOBLIN RISCV32CHERI ZCHERIPURECAP target"
